body {
	/*width: 1024px;*/
	margin: 0px 100px;
	font-size: 11pt;
	text-align: center;
	font-family: 'Trebuchet MS';
	font-size: 11pt;
}

#container {
	width: 860px;
	margin: auto;
	text-align: left;
}

#header {
	background: url('../images/squares_top.png') no-repeat center top;
	height: 214px;
}

#logo {
	float: left;
	margin-top: 84px;
}

#languages {
	float: right;
	padding-right: 15px;
	font-size: 8pt;
	top: 196px;
	color: #808080;
	position: relative;
}

#main {
	position: relative;
	margin-top: 31px;
	/* border: 1px solid black; */
}

#left {
	float: left;
	padding-left: 45px;
	width: 244px;
}

#menu {
	margin: 0;
	padding: 0;
	font-size: 8pt;
	color: #808080;
	text-transform: uppercase;
}

#menu-left {
	width: 97px;
	float: left;
}

#menu-right {
	width: 97px;
	float: left;
}

#menu ul {
	list-style-image: url("../images/square_default.png");
	padding-left: 15px;
	margin-left: 0;
}

#menu li.selected {
	list-style-image: url("../images/square_selected.png");
	color: black;
}


#center {
	float: left;
	width: 383px;
}

#right {
	float: left;
	width: 170px;
	padding-left: 16px;
}

#footer {
	color: #808080;
	/*padding-top: 30px;*/
	text-align: center;
	font-size: 10pt;
}

#footer-box {
	margin: auto;
	width: 650px;
}

#twitter-box {
	width: 158px;
	margin-top: -8px;
	padding-top: 0;
	background: url("../images/twitterbox_body.png") repeat-y center;
/*	background: url("../images/twitterbox_body.png") repeat-y; */
}

#twitter-top {
	/*background: url("../images/twitterbox_top.png") no-repeat center;*/
	height: 6px;
	margin: 0;
	padding: 0;
}

#twitter-body {
	background: url("../images/twitterbox_body.png") repeat-y center;
	padding: 0 10px;
	font-size: 8pt;
}

#twitter-body ul {
	list-style: none;
	margin: 0;
	padding-left: 10px;
}

#twitter-body li .active {

}

#twitter-bottom {
	background: url("../images/twitterbox_bottom.png") no-repeat center;
	height: 47px;
}

#twitter-box a {
	font-size: 8pt;
	color: #808080;
	text-decoration: none;
}

#twitter-box a:hover {
	font-size: 8pt;
	color: #808080;
	text-decoration: underline;
}

